@charset "utf-8";

body {
  background: #fff;
  font-family: sans-serif;
}

.county {
  stroke-width: 0.5;
  stroke: #e3e3e3;
  fill: none;
  shape-rendering: crispedges;
}

.state {
  fill: none;
  stroke: #17b4f0;
  stroke-width: 1;
}

.land {
  stroke: #0ea5df;
  fill: none;
}