@charset "utf-8";

body {
  background: #fff;
  font-family: sans-serif;
}

.county {
  stroke-width: 0.5;
  stroke: #e3e3e3;
  fill: none;
  shape-rendering: crispedges;
}

.state {
  fill: none;
  stroke: #17b4f0;
  stroke-width: 1;
}

.land {
  stroke: #0ea5df;
  fill: none;
}

.d3-tip {
  line-height: 1;
  background: rgba(255, 255, 255, 1);
  color: #555;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  h3 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
  }

  p {
    padding: 10px;
    margin: 0;
    color: #777;
  }

  span {
    color: #333;
    font-weight: bold;
  }
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}